.whiteboard {
  display: flex;
  justify-content: center;
  width: 100%;
}

.drawPage {
  display: flex;
  width: 100%;
}

.leftSidebar {
  border-right: 1px solid #808080;
  flex-basis: 240px;
}

.canvasDiv {
  position: relative;
}

.overlay {
  background-color: rgba(197, 197, 197, 0.8);
  z-index: 5;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 20px;
}

.overlayView {
  z-index: 5;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 20px;
}

.drawingTools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.drawingTools h2 {
  margin: 5px 10px;
}

.colorIcon {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.colorIcon:hover {
  cursor: pointer;
}

.drawIcon {
  padding: 8px 10px;
  border-radius: 5px;
}

.drawIcon:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.drawIcon img {
  width: 24px;
  height: 24px;
}

#myCanvas {
  height: 100vh;
  width: 100%;

}

#myCanvas:hover {
  cursor: url("https://image.flaticon.com/icons/png/24/999/999791.png") 0 24, auto;
}

.iconText {
  text-transform: none;
  color: black;
}

.prompt {
  margin-top: 40px;
  padding: 15px;
}

.promptDiv {
  background-color: white;
  border-radius: 5px;
  padding: 16px 30px;
  width: 100%;
  margin: 10px 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}